h1 {
    color:red;
}
ul, li{
    list-style: none;
}
h2{
    color: darkblue;
}
a{
    text-decoration: none;
}

/* .seatViewing {
    display:none;
} */

footer{
    text-align: center;
}



/* .price span{
    color: green;
    background: #f4f4f4;
    padding: 10px;
    border: 1px #ccc solid;
    border-radius: 50%;
} */

nav {
    display:flex;
    list-style:none;
}

nav li {
    margin-right: 20px;
}

section {
    margin-top: 20px;
}

.seatPlan label{
    display: flex;
}

.rowinfo


.seat{
    display: flex;
}

.seat + span{
    background-color: lightgreen;
    height: 30px;
    width: 30px;
    display: block;
    padding: 0 0 0 0px;
}

.reserved .seat + span{
    background-color: lightpink;
}

.selected .seat + span{
    background-color: lightskyblue;
}

.seat:checked + span{
    height: 30px;
    width: 30px;
    display: block;
    padding: 0 0 0 0px;
}

.seat:disabled + span{
    height: 30px;
    width: 30px;
    display: block;
    padding: 0 0 0 0px;
}

.seatPlan, .rowinfo{
    
    padding: 0 15px;
    max-width: 5550px;
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
}

.dropbtn {
    background-color:darkblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: darkblue;
  }