<html>

<head>
    <title>Cart Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>CineMagic</h1>
    <style>
        .protectedSection,.unprotectedSection {
            display: none;
        }
    </style>
    <header>
        <nav>
            <li><a href="/">Home Page</a></li>
            <li>
                <a href="/recommend">Movie Recommendation</a>
            </li>
            <li><a href="/cart">Cart</a></li>

            <li><a href="/viewProfile">View Profile</a></li>
            <li>
                <a href="/buyTicket">Buy Ticket</a>
            </li>
            <li><a href="#" class="logoutLink">Logout</a></li>
        </nav>
    </header>
    <h2>Shopping Cart  <span><a href="/removeCart">Empty Cart</a></span></h2>
    
    <section class="cart">

    </section>
    <section>
        <a href="/checkout"><button>Check Out</button></a>
    </section>
    
    <hr>
    <footer>
        <p>
            CineMagic &copy; 2021 | <a href="/faq">FAQs & Enquiries</a>
        </p>
    </footer>    
    <script src='/js/jquery.min.js'></script>
    <script src='/js/cart.js'></script>
    <script src='js/buyTicket.js'></script>
    
</body>

</html>

<!-- <br><br>
    <hr>
    <h2>Booking Movie Ticket</h2>

    <section>
        <button class="buyTicketBtn">Buy Ticket</button>
    </section>
    <br>
    <section class="buyTickets">
        <form onsubmit="return addToCart();">
            <label>Please enter your name:</label>
            <input type="text" id="name" name="name">
            <br><br>
            <label>Select a Movie</label>
            <select id="title">
                <option value="Wonder Women 1984">Wonder Women 1984</option>
                <option value="The Promised Neverland">The Promised Neverland</option>
                <option value="The Croods: A New Age PG">The Croods: A New Age PG</option>
                <option value="The Rescue PG13">The Rescue PG13</option>
            </select>
            <br><br>
            <label for="location">Cinema Location :</label>
            <select id="location" name="location">
                <option value="Funan">Funan</option>
                <option value="AMK-Hub">AMK Hub</option>
            </select>
            <br><br>
            <label for="time">Movie Time:</label>
            <input type="radio" class="time" id="time" name="time" value="11.20am">
            <label for="time">11.20am</label>
            <input type="radio" class="time" id="time" name="time" value="02.05pm">
            <label for="time">02.05pm</label>
            <input type="radio" class="time" id="time" name="time" value="4.45pm">
            <label for="time">4.45pm</label>
            <input type="radio" class="5" id="5" name="time" value="07:10pm">
            <label for="5">07:10pm</label><br>
            
            <p><b>Due to Covid, we will be organising your seats for you</b></p>
            <label for="noOfTicket">No. Of People :</label>
            <select id="noOfTicket" name="noOfTicket">
                <option value="1">1</option>
            </select>
            <br>
            <hr>
            <p><b>Student Price : $7.00</b></p>
            <p><b>Adult Price : $13.50</b></p>
            <label for="price">Price of Ticket :</label>
            <select id="price" name="price">
                <option value="7">$7</option>
                <option value="13.50">$13.50</option>
            </select>
            <br><br>
            <input type="submit" value="Add to Movie Cart"></a>
        </form>
        <div class="statusMessage"></div>
    </section>
     -->