<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
    <title>Frequently Asked Questions</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Frequently Asked Questions</h1>

        <h3>What time does your box office open and close?</h3>
			<p>The box office opens at 10am in the morning or half an hour before the first public screening (whichever is earlier).</p>

        <h3>Can I purchase movie tickets to any movie theatre online?</h3>
            <p>Yes.</p>

        <h3>How can I purchase movie vouchers?</h3>
            <p>You can purchase gift vouchers at any box office.</p>

        <h3>I think I might have lost an item at a theatre, how can I report it?</h3>
            <p>For assistance with lost and found items, kindly use the feedback option here to drop us an email and we will get back to you soonest.</p>
            
</body>
</html>