<html>

<head>
    <title>CineMagic Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>CineMagic</h1>
    <style>
        .protectedSection,
        .unprotectedSection {
            display: none;
        }
    </style>

    <header>
        <nav>
            <li>
                <section class=""><a href="/">Home Page</a></section>
            </li>
            <li>
                <section><a href="/recommend">Movie Recommendation</a></section>
            </li>
            <li>
                <section class="protectedSection"><a href="/cart">Cart</a></section>
            </li>

            <li>
                <section class="protectedSection"><a href="/viewProfile">View Profile</a></section>
            </li>
            <li>
                <section class="protectedSection"><a href="/buyTicket">Buy Ticket</a></section>
            </li>
            <li>
                <section class="unprotectedSection"><a href="/login">Login</a></section>
            </li>
            <li>
                <section class="unprotectedSection"><a href="/register">Register User</a></section>
            </li>
            <li>
                <section class="protectedSection"><a href="#" class="logoutLink">Logout</a></section>
            </li>
        </nav>
    </header>


    <section>
        <!-- search movie -->
        <input type="text" placeholder="Movie Title" id="title" name="title">
        <input type="submit" class="searchBtn" value="Search Movie">
    </section>
    <br>
    
    <section class="movieResult">

    </section>
    
    <br>
    <div class="statusMessage"></div>
    <br>
    <hr>
    <footer>
        <p>
            CineMagic &copy; 2021 | <a href="/faq">FAQs & Enquiries</a>
        </p>
    </footer>

    <script src='/js/jquery.min.js'></script>
    <script src='/js/auth.js'></script>
    <script src='/js/index.js'></script>
    <script src='/js/searchMovie.js'></script>
    <script src='/js/moviedetail.js'></script>
</body>

</html>