<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>CineMagic Page</title>
</head>

<body>
    <header>
        <h1><a href="./index.html">CineMagic</a></h1>
    </header>
    <br/>
    <table>
        <tr>
            <th><a href="./searchMovie.html">Search Movie</a></th>
            <th><a href="./viewProfile.html">View Profile</a></th>
            <th><a href="./movieCart.html">Movie Cart</a></th>
            <th><a href="./logOut.html">Log Out</a></th>
        </tr>
    </table>
    <br/>
    <!-- Tara this is where u put the movie recommendations
    u must make it link to jianming "Show Movie Details" -->
    <table>
        <tr>
            <th><a href="./faq.html">FAQs / Enquiry</a></th>
            <th><a href="./reviews.html">Movie Reviews</a></th>
        </tr>
    </table>
    <script src='/js/jquery.min.js'></script>
</body>

</html>
