<html>

<head>
    <title>CineMagic Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>CineMagic</h1>
    <style>
        .protectedSection,.unprotectedSection {
            display: none;
        }
    </style>
    <header>
        <nav>
            <li><section class=""><a href="/">Home Page</a></section></li>
            <li>
                <section><a href="/recommend">Movie Recommendation</a></section>
            </li>
            <li><section class="protectedSection"><a href="/cart">Cart</a></section></li>
            <li><section class="protectedSection"><a href="/viewProfile">View Profile</a></section></li>
            <li><section class="unprotectedSection"><a href="/login">Login</a></section></li>
            <li><section class="unprotectedSection"><a href="/register">Register User</a></section></li>
            <li><section class="protectedSection"><a href="#" class="logoutLink">Logout</a></section></li>
        </nav>
    </header>
    
    <section>
        <!-- search movie -->
            <input type="text" placeholder="Movie Title" id="title" name="title">
            <input type="submit" class="searchBtn" value="Search Movie">
    </section>
    <br>
    <section class="movieResult">
        
    </section>
    <hr>
    <section class="movie">
        <!-- this is where u add the movie  part
        and when click on it,
        it will go to movieDetail.html -->
    </section>
    
    <br>
    <!-- <section class="addNewEvent">
        <form onsubmit="return addEvent();">
            <label for="name">Event Name:</label>
            <input type="text" id="name" name="name"><br>
            <label for="description">Event Description:</label>
            <input type="text" id="description" name="description"><br>
            <label for="startDate">Start Date:</label>
            <input type="text" id="startDate" name="startDate">
            <label for="startTime">Start Time:</label>
            <input type="text" id="startTime" name="startTime"><br>
            <label for="endDate">End Date:</label>
            <input type="text" id="endDate" name="endDate">
            <label for="startTime">End Time:</label>
            <input type="text" id="endTime" name="endTime"><br>
            <input type="submit" value="Submit">
        </form>
        <div class="statusMessage"></div>
    </section> -->
    <hr>
    <a href="/faq">FAQs & Enquiries</a>
    <script src='/js/jquery.min.js'></script>
    <script src='/js/auth.js'></script>
    <script src='/js/index.js'></script>
    <script src='/js/searchMovie.js'></script>
    <script src='/js/moviedetail.js'></script>
</body>

</html>