<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>CineMagic</h1>
    <style>
        .protectedSection,.unprotectedSection {
            display: none;
        }
    </style>
    <header>
        <nav>
            <li><a href="/">Home Page</a></li>
            <li>
                <a href="/recommend">Movie Recommendation</a>
            </li>
            <li><a href="/register">Register as User</a></li>
        </nav>
    </header>
    <h2>Login User</h2>
    <section>
        <!-- calls login function in auth.js -->
        <form onsubmit="return login();">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </section>
    <div class="statusMessage"></div>
    <hr>
    <section class="unprotectedSection"><a href="/faq">FAQs & Enquiries</a></section>
    <script src='/js/jquery.min.js'></script>
    <script src="/js/auth.js"></script>
</body>

</html>