<!DOCTYPE HTML>
<html>

<head>
    <title>Movie Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>CineMagic</h1>
    <style>
        .protectedSection,
        .unprotectedSection {
            display: none;
        }
    </style>
    <header>
        <nav>
            <li><a href="/">Home Page</a></li>
            <li><a href="/recommend">Movie Recommendation</a></li>
            <li><section class="protectedSection"><a href="/cart">Buy a Ticket</a></section></li>
            <li><section class="protectedSection"><a href="/viewProfile">View Profile</a></section></li>
            <!-- <li>
                <section class="protectedSection"><a href="/buyTicket">Buy Ticket</a></section>
            </li> -->
            <li><a href="#" class="logoutLink">Logout</a></li>
        </nav>
    </header>
    <br>
    Movie Details:
    <section class="moviedetails">

    </section>
    
    <hr>
    <a href="/faq">FAQs & Enquiries</a>


</body>
<script src='/js/jquery.min.js'></script>
<script src='/js/auth.js'></script>
<script src='/js/index.js'></script>
<script src='/js/searchMovie.js'></script>
<script src='/js/moviedetail.js'></script>

</html>