<html>

<head>
    <title>Event Management Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Event Management Page</h1>
    <section class="tickets">

    </section>
    <section>
        <button class="deleteTicketBtn">Cancel Ticket</button>
    </section>
    <br>
    <footer>
        <p>
                CineMagic &copy; 2021 | <a href="/faq">FAQs & Enquiries</a>
        </p>
</footer>
    <script src='/js/jquery.min.js'></script>
    <script src='/js/ticket.js'></script>
</body>

</html>