<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>View Profile Page</title>
        <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1><a href="./index.html">CineMagic</a></h1>
    </header>
    <br/>
    <table>
        <tr>
            <th><a href="./searchMovie.html">Search Movie</a></th>
            <th><a href="./viewProfile.html">View Profile</a></th>
            <th><a href="./movieCart.html">Movie Cart</a></th>
            <th><a href="./logOut.html">Log Out</a></th>
        </tr>
    </table>
    <br/>
    <h2>View Profile</h2>
    <form>
    </form>
    <table>
        <tr>
            <th><a href="./faq.html">FAQs / Enquiry</a></th>
            <th><a href="./reviews.html">Movie Reviews</a></th>
        </tr>
    </table>
    <script src='/js/jquery.min.js'></script>
</body>

</html>
