<html>

<head>
    <title>View Profile Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>CineMagic</h1>
    <style>
        .protectedSection,.unprotectedSection {
            display: none;
        }
    </style>
    <header>
        <nav>
            <li><a href="/">Home Page</a></li>
            <li><a href="#" class="logoutLink">Logout</a></li>
        </nav>
    </header>
    <h3>View Profile</h3>
    
    <section class="user">

    </section>
    </section>
    <hr>
    <section class="unprotectedSection"><a href="/faq">FAQs & Enquiries</a></section>
    <script src='/js/jquery.min.js'></script>
    <script src='js/viewProfile.js'></script>
</body>

</html>